
$bgColor : #131313 ; 
$primaryColor : #48bba8 ;
$secondColor : white ;
$thirdColor : #232323 ; 
$txt-second : grey ; 
$borderColor : #2c2c2c ; 

// font size 
$overline : 15px ; 
$heading : 78px ;
$para : 16px ; 
$txt-sm : 13px ; 


